.button-width {
  width: 500px;
}

.header {
  background-color: red;
}

.side {
  background-color: blue;
  height: 500px;
}

.content {
  background-color: aqua;
  height: 500px;
}

.footer {
  background-color: bisque;
}